body, html{
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background: url(/img/fondo.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    height: 20%;
    margin-top: 20px;
    
}